

// Web version, not used yet.
@media screen{
  #attendances{
    #content-wrapper{ overflow: auto;}
  }
}

// Print horizontally
@media print{
  @page{ size: landscape; }
}

// Applied to preview and print versions
#attendances-print{
  .page-break{ page-break-after: always; }
  table{ font-size: smaller;}
  tbody td, thead th{
    padding: 0;
    margin: 0;
  }

  .inline{ display: inline-block; }
  .fixed-top-bar { position: fixed; z-index: 11; width: 100%;}
  .top-bar-spacer {height: 10em;}
  .white { background: white;}
  .main-title{
    width: 500px;
    margin: auto;
  }
  .provider-title{ width: 32%; margin-left: 2%;}
  .eav-title     { width: 32%;}
  .ccr-title     { width: 32%; margin-right: 2%;}
}
.datepicker-dropdown {
  z-index: 1050 !important;
}

.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

.btn + .btn {
  margin-left: 5px;
}

.strong {
  font-weight: bold;
}

