// This file contains style overrides for the PixelAdmin theme.
.DT-search, .DT-search input {
  width: 200px !important;
}

.datepicker {
}

.breadcrumb {
  margin: 0;
}
.page-header {
  padding: 4px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}
